<div class="input-group mb-4">
  <div class="input-group-prepend">
    <button class="btn btn-success" type="button" (click)="loadMemories()">Шукати</button>
  </div>
  <input class="form-control" type="text" [(ngModel)]="userParams.searchTerm" name="searchTerm" placeholder="Шукай за іменем події" aria-describedby="basic-addon1">
  <div class="sort-option">
    <input class="form-check-input" type="radio" [(ngModel)]="userParams.orderByType" name="orderByType" id="ascRadio" value="ASC" (click)="loadMemories()">
    <label class="form-check-label" for="ascRadio">
      <span class="arrow-up"></span>
      <span class="sort-label">Зростання</span>
    </label>
  </div>
  <div class="sort-option">
    <input class="form-check-input" type="radio" [(ngModel)]="userParams.orderByType" name="orderByType" id="descRadio" value="DESC" (click)="loadMemories()" checked>
    <label class="form-check-label" for="descRadio">
      <span class="arrow-down"></span>
      <span class="sort-label">Спадання</span>
    </label>
  </div>
</div>


<div class="row col-12">
    <div *ngFor="let memory of memories" class="col-2">
        <app-memory-card [memory]="memory"></app-memory-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems" 
                [itemsPerPage]="pagination.itemsPerPage"
                [maxSize]="8"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;"
                lastText="&raquo;">
    </pagination>
</div>