<div class="row">
    <div *ngFor="let memory of memories" class="col-2">
        <app-memory-card [memory]="memory"></app-memory-card>
    </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems" 
                [itemsPerPage]="pagination.itemsPerPage"
                [maxSize]="8"
                [(ngModel)]="pagination.currentPage"
                (pageChanged)="pageChanged($event)"
                previousText="&lsaquo;" 
                nextText="&rsaquo;" 
                firstText="&laquo;"
                lastText="&raquo;">
    </pagination>
</div>