<div class="messenger mt-3">
    <div class="messages-container" #messagesContainer>
        <div *ngFor="let message of messages" class="message"
            [ngClass]="{'current-user': message.senderId === currentUserId}">
            <div class="message-content">
                <span class="message-sender"><b>{{ message.senderUsername | titlecase }}</b></span>
                <p>{{ message.text }}</p>
                <span class="message-date">{{ message.dateSend | date }}</span>
                <span class="message-date">{{ message.dateSend | date: "mediumTime" }}</span>
            </div>
        </div>
    </div>

    <div class="message-input">
        <input type="text" [(ngModel)]="createMessage.messageText" name="messageText" placeholder="Привіт,Світ!">
        <button (click)="sendMessage()">Написати</button>
    </div>
</div>