.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 10px 15px;
    background-color: #fff;
    border-top: none;
}

.scrollable {
    overflow-y: auto;
    max-height: 200px;
    /* Adjust the max-height value according to your needs */
}

.ngx-gallery {
    display: inline-block;
    margin-bottom: 20px;
}

.beautiful-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .beautiful-list li {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .beautiful-list li:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
  
  .beautiful-list li span {
    flex-grow: 1;
  }
  
  .red-button {
    background-color: #ff5252;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
  }
  
  .red-button:hover {
    background-color: #ff0000;
  }
  