<div class="row">
    <div class="col-4" *ngIf="memory">
        <div class="card">
            <img [src]="imagePath" alt="{{memory.title}}" class="card-img-top img-thumbnail">
            <div class="card-body scrollable">
                <div>
                    <strong>Заголовок:</strong>
                    <p>{{memory.title}}</p>
                </div>
                <div>
                    <strong>Створено:</strong>
                    <p>{{memory.dateCreated | date: 'fullDate'}}</p>
                </div>
                <div>
                    <strong>Опис :</strong>
                    <p>{{memory.description}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-danger" (click)="redirectToMyMemories()">Мої спогади</button>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset" #memberTabs>
            <tab heading='Фото'>
                <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
            </tab>
            <tab heading='Учасники' (selectTab)="onTabActivated($event)">
                <div class="input-container">
                    <div class="hint-container">
                        <div class="hint me-2"><i class="fa fa-question"></i></div>
                        <div class="hint-text">Додайте користувача за його іменем</div>
                    </div>
                    <input [(ngModel)]="addUserToMemory.userName" name="userName" type="text" class="form-control mt-2"
                        style="max-width: 300px;" placeholder="Ім'я">
                    <button class="btn btn-success mt-2" (click)="addUserMemory()">Додати</button>
                </div>
                <ul class="beautiful-list">
                    <li *ngFor="let userInMemory of usersInMemory">
                        <span>{{userInMemory.userName | titlecase}}</span>
                        <span>{{ userInMemory.email }}</span>
                        <ng-container *ngIf="memory?.ownerId == currentUserId">
                            <div *ngIf="memory?.ownerId != userInMemory.id">
                                <button class="red-button"
                                    (click)="removeUserMemory(userInMemory.userName)">Видалити</button>
                                <button class="green-button ms-1" (click)="setNewOwner(userInMemory.id)">Зробити
                                    головним</button>
                            </div>
                        </ng-container>
                    </li>
                </ul>
            </tab>
            <tab heading="Обговорення" (selectTab)="onTabActivated($event)">
                <app-messages [memoryId]="memoryId" [currentUserId]="currentUserId" [messages]="messages"
                    [pagination]="messagePagination"></app-messages>
            </tab>
            <tab heading='Редагувати'>
                <app-edit-memory [memory]="memory"></app-edit-memory>
            </tab>
        </tabset>
    </div>
</div>