<div class="container">
    <div class="card">
        <div class="card-image">
            <h2 class="card-heading">
                Створи свій
                <small>Spohad</small>
            </h2>
        </div>
        <form #creatememoryFrom="ngForm" class="card-form">
            <div class="input">
                <input [(ngModel)]="memoryForCreation.title" name="title" type="text" class="input-field" required />
                <label class="input-label">Заголовок</label>
            </div>

            <div class="input">
                <textarea [(ngModel)]="memoryForCreation.description" name="description" type="text" class="input-field" required></textarea>
                <label class="input-label">Опис</label>
            </div>

            <div class="input">
                <ngx-dropzone (change)="onSelect($event)">
                    <ngx-dropzone-label>Кинь фотку!</ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of selectedFiles" [removable]="true" (removed)="onRemove(f)">
                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
            </div>
            <div class="image-container" *ngIf="lastAddedImage">
                <div class="image-box" style="margin-left: 40%;">
                    <img [src]="lastAddedImage" *ngIf="lastAddedImage" alt="Dropped Image">
                </div>
            </div>
            <div class="action">
                <button class="action-button" (click)="createMemory()">Додати Об'яву</button>
            </div>
        </form>
    </div>
</div>



<app-qr-code-pop-up *ngIf="isPopUpActive" [imagePath]="imagePath"></app-qr-code-pop-up>