<div class="container">
    <!-- code here -->
    <div class="card">
        <div class="card-image">
            <h2 class="card-heading">
                Створи свій
                <small>Spohad</small>
            </h2>
        </div>
        <form #creatememoryFrom="ngForm" class="card-form">
            <div class="input">
                <input [(ngModel)]="memoryForCreation.title" name="title" type="text" class="input-field" required />
                <label class="input-label">Заголовок</label>
            </div>

            <div class="input">
                <textarea [(ngModel)]="memoryForCreation.description" name="description" type="text" class="input-field" required></textarea>
                <label class="input-label">Опис</label>
            </div>

            <div class="input">
                <input (change)="onFileSelected($event)" multiple type="file" class="input-field" required />
                <label class="input-label">Фото</label>
                <ul>
                    <li *ngFor="let file of selectedFiles">{{ file.name }}</li>
                  </ul>
            </div>
            <div class="action">
                <button class="action-button" (click)="createMemory()">Додати Об'яву</button>
            </div>
        </form>
    </div>
</div>