<div class="col-8 mt-5" style="margin-left: 25%;">
    <div class="alert alert-info" *ngIf="editForm.dirty">
        <strong>Увага: </strong> Усі незбережені зміни будуть втрачені
    </div>
</div>

<form [formGroup]="editForm" class="card-form">
    <div class="input">
        <input formControlName="title" type="text" class="input-field" name="title" required />
        <label class="input-label">Заголовок</label>
    </div>

    <div class="input">
        <textarea formControlName="description" name="description" type="text" class="input-field" required></textarea>
        <label class="input-label">Опис</label>
    </div>

    <div class="action">
        <button class="action-button" [disabled]="!editForm.valid" (click)="updateMemory()">Редагувати</button>
    </div>
</form>